_minted-metrics_pro/

*.bbl
*.xdv
*.log
*.idx
*.toc
*.aux
*.bcf
*.fls
*.out
*.synctex.gz
metrics_pro.run.xml
all_solutions.tex
.DS_Store
metrics_pro-cache.yaml
metrics_pro.fdb_latexmk
metrics_pro.blg
